
<h2>Edit Item</h2>

<form class="form item col-xs-3" id="edit-item" method="POST" action="/checklists/<%= @checklist.id %>/update">

  <div class="form-group">
    <label for="checklist[item_name]">Item Name: </label>
    <input class="form-control" type="text" name="checklist[item_name]" value="<%= @checklist.item_name %>">
  </div>

  <div class="form-group">
    <label for="checklist[importance]">Importance: </label>
    <select class="form-control" type="text" name="checklist[importance]" value="<%= @checklist.importance %>">
      <option value="Very High">Very High</option>
      <option value="High" selected>High</option>
      <option value="Medium">Medium</option>
      <option value="Low">Low</option>
    </select>
  </div>

  <div class="form-group">
    <label for="checklist[location]">Location: </label>
    <input class="form-control" type="text" name="checklist[location]" value="<%= @checklist.location %>">
  </div>

  <div class="form-group">
    <label for="checklist[person_involved]">Person Involved: </label>
    <input class="form-control" type="text" name="checklist[person_involved]" value="<%= @checklist.person_involved %>">
  </div>

  <div class="form-group">
    <label for="checklist[date_due]">Date Due: </label>
    <input class="form-control" type="text" name="checklist[date_due]" value="<%= @checklist.date_due %>" id="datepicker" />
  </div>

  <button class="btn btn-info" type="submit">Save Changes</button>
</form>